<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="rekoeclipse.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rekoeclipse.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         id="rekoeclipse.product"
         name="Reko Decompiler"
         point="org.eclipse.core.runtime.products">
      <product
            application="rekoeclipse.application"
            name="Reko Decompiler">
         <property
               name="applicationXMI"
               value="com.smx.rekoeclipse/Application.e4xmi">
         </property>
         <property
               name="aboutImage"
               value="icons/revenge-44x44.png">
         </property>
         <property
               name="appName"
               value="RekoEclipse">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.smx.rekoeclipse/rekoeclipse.plugin.LifeCycleManager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="ProgramContentProvider"
            id="RekoEclipse.plugin.navigatorContent1"
            name="name">
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.rekoeclipse.navigator"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="rekoeclipse.content.ProgramContentProvider"
            id="RekoEclipse.plugin.navigatorContent1"
            name="name">
      </navigatorContent>
   </extension>

</plugin>
