<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="rekoeclipse.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rekoeclipse.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         id="rekoeclipse.product"
         name="Reko Decompiler"
         point="org.eclipse.core.runtime.products">
      <product
            application="rekoeclipse.application"
            name="Reko Decompiler">
         <property
               name="applicationXMI"
               value="com.smx.rekoeclipse/Application.e4xmi">
         </property>
         <property
               name="aboutImage"
               value="icons/revenge-44x44.png">
         </property>
         <property
               name="appName"
               value="RekoEclipse">
         </property>
      </product>
   </extension>

</plugin>
