<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="RekoEclipse.plugin"
   version="0.0.1"
>
   <extension
         id="RekoEclipse"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="RekoEclipse">
         <property
               name="appName"
               value="RekoEclipse">
         </property>
      </product>
   </extension>
</plugin>
